@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 30);
    color: white;
}

.regionIcon {
    cursor: pointer;
}

@layer components {
    .regionIcon {
        @apply cursor-pointer
    }
}