@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 30);
    color: white;
}

.tft-hexagon-bronze {
    background-image: url("../images/traits/Hexagons/bronze.svg");

}

.tft-hexagon-silver {
    background-image: url("../images/traits/Hexagons/silver.svg");

}

.tft-hexagon-gold {
    background-image: url("../images/traits/Hexagons/gold.svg");
}

.tft-hexagon-prismatic {
    background-image: url("../images/traits/Hexagons/chromatic.svg");

}
    
@layer components {
    .regionIcon {
        @apply cursor-pointer
    }

    .active {
        @apply bg-blue-600 scale-110 p-2 rounded
    }
}
