.container {
  margin-top: 10px;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  margin: 0 250px;
  background-color: rgb(72, 72, 73);
}

.table {
  width: 100%;
}

.table > :first-child {
  background-color: rgb(40 40 48);
}

table > tr {
  background-color: rgb(40 40 48, 70%);
}

.tableRow {
  text-align: center;
  background-color: rgb(57, 56, 56);
}

.tableRowRank {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankIcon {
  width: 64px;
  height: 64px;
}

.tableRow > :nth-child(2) {
  font-size: 24px;
}

.regionSelector {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 100%;
  margin: 15px 0px;
}

.regionIcon {
  cursor: pointer;
}

.active {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 3px;
  transform: scale(1.2);
}

.topFive {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.topFive > :first-child {
  grid-column: 1 / span 4;
}
