.container {
  margin-top: 10px;
  padding: 0 auto;
}

.table {
  width: 100%;
}

.tableRow {
  text-align: center;
}

.tableRowRank {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankIcon {
  width: 64px;
  height: 64px;
}

.tableRow > :nth-child(2) {
  font-size: 24px;
}

.regionSelector {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 100%;
  margin-bottom: 20px;
}

.regionIcon {
  cursor: pointer;
}

.active {
  background-color: cornflowerblue;
  padding: 2px;
  border-radius: 3px;
}
