* {
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 2px 2px 2px 1px rgb(63, 62, 62);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.navbar-logo {
  align-self: flex-start;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ffca28;
}

.navbar img {
  width: 150px;
  height: 100%;
}

.navbar-items {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

.navbar-items a {
  margin: 0 10px;
}
