.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  margin-top: 24px;
}

.summoner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.summoner-info > h1 {
  margin-bottom: 8px;
}
